<section class="Splash-screen">
  <div class="welcome-message">
    <h1 class="title">Snappy</h1>
    <p class="description">Finally, a budget app for you</p>
  </div>
    
  <% if current_user %>
    <div class="user-info">
      <p class="user-greeting">Continue as, <%= link_to current_user.name, categories_path, class: "user-link" %> ?</p>
    </div>
  <% else %>
    <div class="get-started">
      <p class="get-started-message">Let's get started!</p>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="sign-out">
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, form: { data: { turbo_frame: "_top" } }, class: "sign-out-button" %>
    </div>
  <% else %>
    <div class="sign-in">
      <%= link_to 'Log in', new_user_session_path, class: "sign-in-button" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "sign-up-button" %>
    </div>
  <% end %>
</section>